@import "normalize.styl"
@font-face
    font-family 'alex_brushregular'
    src url('font/alexbrush-regular-webfont.eot')
    src url('font/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/alexbrush-regular-webfont.woff') format('woff'),
         url('font/alexbrush-regular-webfont.ttf') format('truetype'),
         url('font/alexbrush-regular-webfont.svg#alex_brushregular') format('svg')
    font-weight normal;
    font-style normal;
.boton
  border-radius 8px
  padding 7px
  background #DF4186
  margin 4px 7% 15px
  display block
  text-decoration none
  color #fff
  font-weight bold

.date
  background #0468A0
  h2
    color #E3C293
  article
    h2
      color #fff
    p
      color #43D9E8
      &.time
        color #fff
    &::before
      content ""
      background url(style/iglesia.png)no-repeat center
      width 52px
      height 63px
      position relative
      display inline-block
      vertical-align middle
      background-size auto 100%!important
    &.recepcion
      &::before
        background url(style/recepcion.png)no-repeat center
    .map
      display inline-block
      border-radius 10px
      overflow hidden
      position relative
      width 239px
      height 240px

.vestimenta
  background #DBDACA url(style/sand.png)
  h2
    color #808080
    margin-bottom 0px
  p
    margin 0px
  article
    img
      width 73px
    h3
      color #69ABBB
    p
      color #7A7A7A
    &.damas
      h3
        color #E27BBD

body
  font-family "arial"
  background #DBDACA url(style/bg-sand.png)
  text-align center

h1,h2,h3,h4,h5,h6
  font-family "alex_brushregular"
  font-size 2em
  margin 4px 0px

header,section
  overflow hidden

section
  article
    margin-bottom 10px

header
  background url(style/bg-header.png) repeat-x bottom
  padding-bottom 40px
  h1
    font-size 1.8em
    color #514C37
    margin 0px
    &::after
      background url(style/conchas-de-colores.png)no-repeat center
  h4
    color #927B5A
  figure
    margin 2px 40px
  p
    font-size 1em
    color #927B5A
    margin 0 0 4px 0
    font-family arial
  img
    width 200px

header h1::before,header h1::after
  content ""
  background url(style/conchas-de-colores-2.png)no-repeat center
  width 52px
  height 63px
  position relative
  display inline-block
  vertical-align middle
  background-size auto 100%!important

iframe
  width 240px
  height 240px

#mapDiv
  border-radius 10px
  overflow hidden
